In [2]:
#리스트, 튜플 자료형 : 데이터를 보관하는 자료형
box = [1,3,5,4,2,'hello',[2,7]]          # 대괄호 안에 저장하려는 데이터 넣기
a = box[6][1]                       # box[-1][-1] 와 같음
b = box[-1][-1]

print(a, b)

7 7

In [5]:
box = [1,3,5,4,2]
box[2:5]

[5, 4, 2]

In [17]:
a = [1,3,5,4,2]
b = a[:]       # 복사의 의미로 할 때에는 b=a[:]꼴로
b[1] = 7       # replace는 문자열 전용 함수.  
b

[1, 7, 5, 4, 2]

In [18]:
a      # 그냥 b=a하면  b값만 수정했는데도, a값도 바뀜

[1, 3, 5, 4, 2]

In [20]:
a = [1,2,3]
b = [4,5,6]
a + b
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
a.append(5)
a.append(5)          # 뒤에서부터 추가
print(a)

[1, 2, 3, 5, 5]

In [22]:
a.insert(0,10)      # 0번째에 10 추가.    원하는 위치에 추가할 때에는 insert
print(a)

[10, 1, 2, 3, 5, 5]

In [23]:
del a[0]       # 위치값 삭제
a.remove(5)    # 해당값(가장 먼저 발견된) 삭제
print(a)

[1, 2, 3, 5]

In [24]:
z = a.remove(3)      # remove라는게 형체가 없으므로 z에는 아무것도 저장되지x              저장은 안되나 3이라는 값은 삭제됨
print(z)

None

In [25]:
z = a.pop()         # 기본 : 가장 뒤에 있는 것을 꺼내라.
z

5

In [26]:
a            # 즉 remove는 삭제해주는것  // pop은 꺼내주는것

[1, 2]

In [39]:
a.pop(0)

1

In [40]:
a

[2]

In [42]:
a = [1,3,5,4,2]
a.sort()    # 오름차순으로 정렬.   내림차순으로 하려면 sort(reverse = True) 
a

# z = a.sort()   이 또한 형체가 없는 것이라서  z에 넣는다고 해서 z에 정렬된 값 저장되지x.

[1, 2, 3, 4, 5]

In [27]:
a = [1,3,5,4,2]
a.reverse()           # 뒤집어
a

[2, 4, 5, 3, 1]

In [45]:
b = [[1,0],[2,3],[5,2],[6,9]]
b.sort()              # 앞에 있는 값을 기준으로 정렬됨.
b

[[1, 0], [2, 3], [5, 2], [6, 9]]

In [46]:
b = [[1,0],[2,3],[5,2],[6,9]]        # b 안에는 데이터가 4개 들어있는 것
b.sort(key = lambda x : x[1])        # x라는 게 있다면 기준값은 1번째 값을 기준으로 정렬한다
b

[[1, 0], [5, 2], [2, 3], [6, 9]]

In [48]:
print(a.index(1))   # 위치값
print(a.count(1))

4
1

In [51]:
# 튜플 : 리스트랑 같다.   ()로 묶어줌
# 한번 정하면 절대 수정하거나, 삭제할 수가 없다.          => 따라서 remove, append 등 대부분의 함수 쓸 수 X.
a = (1,3,5,4,2)
a + a
#a[1] = 7     ;  오류

(1, 3, 5, 4, 2, 1, 3, 5, 4, 2)

In [53]:
b = 5, 10
b     # 변수 하나에 값 여러개 넣으면 자동으로 튜플로 묶어줌

(5, 10)

In [54]:
# 여러 개의 값을 하나의 튜플로 묶는 것 : 패킹
# 이미 묶여 있는 것들을 여러 개의 변수로 할당하는 것 : 언패킹
a, b, c = 10, 20, 30            # (10, 20, 30) 으로 묶여있는 것
a

10

In [28]:
box = (1,2,3,4,5)

a,b,c,d,e = box       # a는1, b는2, ..., e는5
# a,b,c = box   :  오류
a,b,*c = box    # a는1, b는2, c는[3,4,5]    ; 리스트로 할당됨 주의
a,b,c

(1, 2, [3, 4, 5])

In [29]:
x = 10
y = 20

x, y = y, x    # 튜플이 생략된 형태. 실제론 (y,x)

print(x, y)

20 10

In [61]:
a = list((1,2,3))      # 수정하려면 튜플을 리스트로 바꿔서 수정
a.append(4)
tuple(a)

(1, 2, 3, 4)

In [62]:
list('list')        # 다른 자료형을 리스트로 바꿀수도 O

['l', 'i', 's', 't']

In [64]:
print(range(1,11))
print(list(range(1,11)))

range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]