# 리스트란?
* 파이썬의 리스트는 여러 개의 데이터를 순서 있게 나열하여 관리할 수 있는 자료형입니다.
* 대괄호 []를 사용하여 표현합니다.
* 리스트는 가변(Mutable) 자료형으로, 생성 이후에도 데이터 수정, 추가, 삭제가 가능합니다.
* 하나의 리스트 안에 다양한 자료형(정수, 문자열, 리스트 등)도 함께 저장할 수 있습니다.

In [1]:
# 리스트 예시
numbers = [10, 20, 30, 40]
mixed_list = [1, "Hello", True, [2, 3]]
print(numbers)      # [10, 20, 30, 40]
print(mixed_list)   # [1, 'Hello', True, [2, 3]]

[10, 20, 30, 40]
[1, 'Hello', True, [2, 3]]

## 1. 리스트 인덱싱(Indexing) & 슬라이싱(Slicing)
* 인덱싱
리스트의 각 요소는 0부터 시작하는 인덱스를 가집니다. 또한 음수 인덱스를 사용하면 뒤에서부터 접근할 수 있습니다.

In [2]:
my_list = [10, 20, 30, 40, 50]
print(my_list[0])   # 10
print(my_list[2])   # 30
print(my_list[-1])  # 50 (마지막 요소)

10
30
50

* 슬라이싱
[start:end:step] 형태로 잘라낼 수 있습니다. end 인덱스는 포함되지 않는다는 점에 주의하세요.

In [3]:
my_list = [10, 20, 30, 40, 50]
print(my_list[1:3])   # [20, 30] (인덱스 1부터 3 전까지)
print(my_list[:3])    # [10, 20, 30] (처음부터 3 전까지)
print(my_list[2:])    # [30, 40, 50] (인덱스 2부터 끝까지)
print(my_list[::2])   # [10, 30, 50] (2칸씩 건너뛰며)
print(my_list[::-1])  # [50, 40, 30, 20, 10] (리스트 뒤집기)

[20, 30]
[10, 20, 30]
[30, 40, 50]
[10, 30, 50]
[50, 40, 30, 20, 10]

## 2. 리스트 주요 메서드
### 추가
* append(x): 리스트 끝에 요소 x 추가
* insert(idx, x): 리스트 특정 위치(idx) 에 요소 x 삽입
* extend(다른_시퀀스): 리스트 뒤에 다른 리스트나 시퀀스 요소들을 한 번에 확장

In [4]:
my_list = [1, 2, 3]
my_list.append(4)      
print(my_list)         # [1, 2, 3, 4]

my_list.insert(1, 10)  
print(my_list)         # [1, 10, 2, 3, 4]

my_list.extend([5, 6]) 
print(my_list)         # [1, 10, 2, 3, 4, 5, 6]

[1, 2, 3, 4]
[1, 10, 2, 3, 4]
[1, 10, 2, 3, 4, 5, 6]

### 삭제
* del 리스트[인덱스]: 인덱스를 통해 요소 삭제
* pop([인덱스]): 인덱스로 요소를 꺼내며 삭제(인덱스 생략 시 마지막 요소)
* remove(x): 값이 x인 첫 번째 요소를 찾아 삭제
* clear(): 리스트의 모든 요소 삭제 (빈 리스트로 만듦)

In [5]:
my_list = [10, 20, 30, 40, 50]
del my_list[1]         
print(my_list)         # [10, 30, 40, 50]

removed_item = my_list.pop(2)  
print(removed_item)    # 40 (꺼낸 값)
print(my_list)         # [10, 30, 50]

my_list.remove(30)
print(my_list)         # [10, 50]

my_list.clear()
print(my_list)         # []

[10, 30, 40, 50]
40
[10, 30, 50]
[10, 50]
[]

### 정렬 & 기타
* sort(): 리스트 자체를 오름차순으로 정렬 (파괴적 메서드)
* sort(reverse=True) → 내림차순 정렬
* reverse(): 리스트 순서를 역순으로 뒤집음 (파괴적 메서드, 정렬과 다름 주의)
* index(x): 값 x의 인덱스(위치)를 반환 (존재하지 않으면 에러)
* count(x): 리스트에서 x가 몇 번 등장하는지 반환

In [6]:
my_list = [3, 1, 4, 2, 5]
my_list.sort()
print(my_list)  # [1, 2, 3, 4, 5]

my_list.reverse()
print(my_list)  # [5, 4, 3, 2, 1]

idx = my_list.index(3)
print(idx)      # 2  (인덱스는 0부터 시작)

cnt = my_list.count(4)
print(cnt)      # 1  (값 4는 1번 등장)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
2
1

# 튜플이란?
* 튜플은 리스트와 거의 유사하지만, 한 번 생성하면 내부 요소를 변경할 수 없는(불변, Immutable) 자료형입니다.
* 괄호 ()를 사용해 표현합니다.
* 요소의 추가, 삭제, 수정이 불가하므로, 변경이 없어야 하는 데이터를 묶어 관리할 때 유용합니다.
* 나머지 시퀀스적 특성(인덱싱, 슬라이싱)은 리스트와 거의 동일합니다.
* 참고: 튜플을 생성할 때 ()를 생략하기도 합니다. 예: my_tuple = 1, 2, 3

In [7]:
my_tuple = (1, 2, 3)
print(my_tuple)      # (1, 2, 3)
print(my_tuple[0])   # 1
print(my_tuple[1:])  # (2, 3)

# my_tuple[0] = 10    # 오류: 튜플은 값 변경 불가

(1, 2, 3)
1
(2, 3)

## 1. 튜플 주요 메서드
* count(value): 튜플 내에서 value가 몇 번 등장하는지 횟수를 반환합니다.

In [8]:
my_tuple = (1, 2, 3, 2, 2)
print(my_tuple.count(2))  
# 3 (값 2가 3번 등장)

3

* index(value): 튜플 내에서 value가 처음으로 나타나는 인덱스(위치) 를 반환합니다. 만약 해당 값이 없으면 ValueError가 발생합니다.

In [9]:
my_tuple = (1, 2, 3, 2, 2)
print(my_tuple.index(2))
# 1 (인덱스는 0부터 시작하므로, 값 2가 처음 나오는 위치는 1)

1

## 2. 튜플 패킹(Packing) & 언패킹(Unpacking)
* 튜플 패킹(Packing): 여러 개의 값을 하나의 튜플로 묶는(패킹하는) 과정을 말합니다. 기본적으로 튜플은 괄호 () 안에 여러 요소를 쉼표로 구분해 넣어서 생성할 수 있습니다.

In [10]:
# 튜플 패킹 예시
my_tuple = (10, 20, 30)
print(my_tuple)  
# (10, 20, 30)

# 괄호를 생략해도 튜플로 패킹됨
my_tuple2 = 10, 20, 30
print(my_tuple2) 
# (10, 20, 30)

(10, 20, 30)
(10, 20, 30)

* 튜플 언패킹(Unpacking): 이미 묶여 있는 튜플을 여러 개의 변수에 풀어서 할당하는 과정을 말합니다. 튜플의 요소 개수와 할당받는 변수의 개수가 일치해야 합니다.

In [11]:
my_tuple = (10, 20, 30)
# 튜플 언패킹
x, y, z = my_tuple

print(x, y, z)

10 20 30

* 언패킹 시 변수 개수와 요소 개수: 튜플의 요소 개수와 변수가 정확히 일치하지 않으면 에러가 발생하지만, 별(*) 문법을 사용하면 가변적으로 처리할 수 있습니다.

In [12]:
# 별(*)을 활용한 언패킹
numbers = (1, 2, 3, 4, 5)

a, b, *rest = numbers
print(a)     # 1
print(b)     # 2
print(rest)  # [3, 4, 5]  (리스트 형태로 묶임)

# 여러 위치에서도 별(*) 사용 가능
*x, y, z = numbers
print(x)  # [1, 2, 3]
print(y)  # 4
print(z)  # 5

1
2
[3, 4, 5]
[1, 2, 3]
4
5

* 언패킹 응용: 변수 교환 - 파이썬에서는 튜플 언패킹을 이용해 간단히 두 변수의 값을 교환할 수 있습니다.

In [13]:
x = 10
y = 20

x, y = y, x  # 간단한 교환
print(x, y)  # 20 10

20 10

## 3. list() & tuple()
* list()

In [1]:
# 문자열 → 리스트
print(list("hello"))  # ['h', 'e', 'l', 'l', 'o']

# 튜플 → 리스트
print(list((1, 2, 3)))  # [1, 2, 3]

# 집합 → 리스트
print(list({4, 5, 6}))  # [4, 5, 6] (순서는 비결정적)

# 딕셔너리 → 리스트 (키만 포함)
print(list({"a": 1, "b": 2}))  # ['a', 'b']

['h', 'e', 'l', 'l', 'o']
[1, 2, 3]
[4, 5, 6]
['a', 'b']

In [2]:
empty_list = list()
print(empty_list)  # []

[]

In [3]:
# range 객체 → 리스트
print(list(range(5)))  # [0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

* tuple()

In [4]:
# 문자열 → 튜플
print(tuple("hello"))  # ('h', 'e', 'l', 'l', 'o')

# 리스트 → 튜플
print(tuple([1, 2, 3]))  # (1, 2, 3)

# 집합 → 튜플
print(tuple({4, 5, 6}))  # (4, 5, 6) (순서는 비결정적)

# 딕셔너리 → 튜플 (키만 포함)
print(tuple({"a": 1, "b": 2}))  # ('a', 'b')

('h', 'e', 'l', 'l', 'o')
(1, 2, 3)
(4, 5, 6)
('a', 'b')

In [5]:
empty_tuple = tuple()
print(empty_tuple)  # ()

()

In [6]:
# range 객체 → 튜플
print(tuple(range(5)))  # (0, 1, 2, 3, 4)

(0, 1, 2, 3, 4)

## 연습문제
1. 리스트 생성: 숫자 1, 2, 3을 담고 있는 리스트를 생성하고, 리스트 전체를 출력하세요.

In [1]:
a = [1,2,3]
a

[1, 2, 3]

2. 리스트 [10, 20, 30, 40, 50]에서 인덱싱을 사용해 첫 번째 요소(10)와 마지막 요소(50)를 출력해보세요.

In [4]:
a = [10, 20, 30, 40, 50]
print(a[0], a[4])           # 마지막은 -1이라고 생각

10 50

3. 리스트 [1, 2, 3, 4, 5]에서 슬라이싱을 사용해 [2, 3, 4]만 추출해서 출력해보세요.

In [6]:
a =  [1, 2, 3, 4, 5]
a[1:4]       # 마지막 전까지니까 a[1:-1]과 같음

[2, 3, 4]

4. 리스트 ["apple", "banana"]에 "orange"를 append()를 이용해 추가하고 결과를 출력하세요.

In [9]:
a = ["apple", "banana"]
a.append("orange")
a

['apple', 'banana', 'orange']

5. 튜플 (10, 20, 30)에서 **두 번째 요소(20)**만 인덱싱을 통해 출력해보세요.

In [32]:
a = (10, 20, 30)
a[1]

20

6. 리스트 a = [1, 2]에 extend() 메서드를 사용해 [3, 4]를 합쳐 새로운 리스트를 만들고 출력하세요.

In [34]:
a = [1, 2]
b = [3, 4]
a.extend(b)
a

[1, 2, 3, 4]

7. 리스트 numbers = [3, 1, 4, 2, 5]를 오름차순으로 정렬(sort())한 뒤 출력하세요. 이후 내림차순으로도 정렬(sort(reverse=True))하고 결과를 출력해보세요.

In [20]:
numbers = [3, 1, 4, 2, 5]
#numbers.sort()
numbers.sort(reverse=True)
print(numbers)

[5, 4, 3, 2, 1]

8. 리스트 fruits = ["apple", "banana", "cherry"]에서 "banana"를 remove()로 삭제하고 결과를 출력하세요. 이후 pop()을 사용해 마지막 요소를 꺼내고, 꺼낸 요소와 최종 리스트를 모두 출력해보세요.

In [21]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)
a = fruits.pop(1)
print(a, fruits)

['apple', 'cherry']
cherry ['apple']

9. 튜플 x, y, z = (10, 20, 30)을 언패킹하여 x, y, z 값을 각각 출력해보세요.

In [22]:
x, y, z = (10, 20, 30)
print(x,y,z)

10 20 30

10. 튜플 my_tuple = (1, 2, 3, 4, 5)에서 슬라이싱을 사용해 처음 3개(1, 2, 3)만 추출해서 출력해보세요.

In [24]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple[:3]

(1, 2, 3)

11. 리스트 data = [5, 3, 1, 4, 2]에 대해 reverse()를 사용해 순서를 단순히 뒤집은 결과와 sort()를 사용해 오름차순 정렬한 결과, 두 결과가 어떻게 다른지 비교해서 출력해보세요.

In [26]:
data = [5, 3, 1, 4, 2]
data.reverse()
print(data)
data = [5, 3, 1, 4, 2]
data.sort()
print(data)

[2, 4, 1, 3, 5]
[1, 2, 3, 4, 5]

12. 튜플 t1 = (1, 2), t2 = (3, 4)를 더하기 연산자로 합쳐 (1, 2, 3, 4)를 만들고, 결과를 출력해보세요.

In [27]:
t1 = (1, 2)
t2 = (3, 4)

t1 + t2

(1, 2, 3, 4)

13. 튜플 (1,2,3)을 튜플 (4,3,2,1)로 만들어보세요.

In [31]:
a = list((1,2,3))
a.append(4)
a.reverse()
tuple(a)

(4, 3, 2, 1)