In [14]:
# 문자열 자료형
a = 'python "is\' too fun'    # 작은따옴표 안에는 큰따옴표만 적을 수 O.  혹은 \'로 작은따옴표 표현 가능.
b = "python 'is' \ntoo \tfun"    # 엔터치려면 \n, 탭은 \t
c = """python 'is" too

fun"""                        # 따옴표 세개는 만능

print(a)
print(b)
print(c)

python "is' too fun
python 'is'
too 	fun
python 'is" too

fun

In [18]:
a = 'python is too fun'

# a의 0번째에 접근 : a[0]
# 하나씩 접근 : 인덱싱

a[-1]   # 맨뒷자리글자

'n'

In [19]:
# 여러개 접근 : 슬라이싱
a[2:8]  # 2번째부터 시작해서 8번째 >>>전<<<★까지. 공백포함

'thon i'

In [20]:
a[:8]    # 처음부터 8번째전까지
a[2:]    # 2번째부터 끝까지

'python i'

In [22]:
a[2:10:2]    # 2번째부터 10번째전까지 2씩 증가시키면서 접근해라.  =  2,4,6,8번째에 접근

'to s'

In [24]:
a[::-1]   # 데이터를 한번에 뒤집을때

#증가값이 -1 : 마지막점이 시작점이 됨

'nuf oot si nohtyp'

In [28]:
# 문자열 연산
a = "python"
b = " is too fun!"

a + b    # python is too fun!
a * 3    # pythonpythonpython
a = a + b
a

'python is too fun!'

In [30]:
len(a)  # Length.  글자개수 (공백도 포함)

18

In [40]:
# 문자열.함수()  //  문자열 전용 함수
# print(), max(), min() ... // 내장함수

print(a.upper())
print(a.lower())
print(a.capitalize())   # 문장의 첫 글자만 대문자로
print(a.title())        # 각 단어의 첫 글자를 대문자로
print(a.swapcase())     # 소문자는 대문자로, 대문자는 소문자로

PYTHON IS TOO FUN!
python is too fun!
Python is too fun!
Python Is Too Fun!
PYTHON IS TOO FUN!

In [48]:
a = "        \t    python         \t   "
print(a.lstrip())    # 왼쪽 공백을 없애줌 (탭 포함)
print(a.rstrip())    # 오른쪽 공백을 없애줌
print(a.strip())     # 양쪽 공백을 없애줌

a = "++++++++++python+++++++++++"
print(a.lstrip("+"))    # 왼쪽 +를 없애줌

python
        	    python
python
python+++++++++++

In [58]:
a = 'python is too fun!'
print(a.split())       # 빈도분석.  공백을 기준으로 자르라는 뜻

a = 'python,is,too,fun!'
b = a.split(",")    # 콤마를 기준으로 자르라는 뜻
b

['python', 'is', 'too', 'fun!']

['python', 'is', 'too', 'fun!']

In [55]:
" -> ".join("abcde")      # 내가 입력한 ->를 abcde 사이에 참가시켜라

'a -> b -> c -> d -> e'

In [60]:
" -> ".join(b)       # join 괄호 안에 리스트도 넣을 수 있음

'python -> is -> too -> fun!'

In [67]:
a = "python is too fun!"
print(a.replace("python", "java"))   # a의 python이라는 단어를 java로 바꾼 걸 보여줌
print(a)                             # 기존의 a값은 변하지 않음

java is too fun!
python is too fun!

In [75]:
name = "홍길동"
age = 40.1234512345

f"나의 이름은 {name}이고, {age:.2f}살입니다."        # 맨앞에 f넣으면 변수반영 가능.   숫자 뒤에 ':.2f'넣으면 소수점 짧게 표현 가능

'나의 이름은 홍길동이고, 40.12살입니다.'

In [84]:
print("안녕".isalpha())            # isalpha : 이게 알파벳으로만 구성되어있나 (한글도 ㄱㅊ)
print("1212312".isdigit())        # isdigit : 이게 숫자로만 구성되어있나
print("hello123".isalnum())       # isalnum : 이게 숫자와 알파벳으로만 구성되어있나.    공백이 있어도 안됨
print("HELLO".isupper())

True
True
True
True

In [87]:
quote = "Life is short, You need Python."
print(quote.find("o"))   # 가장 먼저 발견한 것 하나만
print(quote.find("z"))   # 없으면 -1

print(quote.index("o"))  # 기능면에서 find와 동일하나, 없으면 -1아니고 error

10
-1
10