# for문의 기본 개념
## 반복 가능한 객체(iterable)
* 파이썬의 for문은 시퀀스 자료형(문자열, 리스트, 튜플 등) 또는 이터러블 객체(예: range, dict, set 등)에 대해서 순회(iteration)합니다.
* 예) 리스트 [1, 2, 3]를 for문으로 순회하면, 각 요소를 하나씩 꺼내서 반복문 안의 코드를 실행합니다.

```
for 변수 in 반복가능한객체:
    # 반복할 코드
```

* 반복가능한객체에서 원소를 하나씩 꺼내어 변수에 대입하고, 반복문 블록을 실행합니다.

## 1. range() 함수와 for문
### range(끝)
* range(n)은 0부터 n-1까지의 정수를 생성합니다.

In [1]:
for i in range(5):
    print(i)
# 출력: 0 1 2 3 4

0
1
2
3
4

### range(시작, 끝, 단계)
* range(start, end, step) 형태로 작성할 수 있습니다.
* start부터 end-1까지 step 간격으로 숫자를 생성합니다.

In [3]:
for i in range(1, 6):
    print(i, end=' ')
# 출력: 1 2 3 4 5

1 2 3 4 5

In [4]:
for i in range(0, 10, 2):
    print(i, end=' ')
# 출력: 0 2 4 6 8

0 2 4 6 8

* range()를 활용한 누적 합 예시

In [5]:
total = 0
for i in range(1, 6):
    total += i
print("1부터 5까지 합:", total)
# 결과: 1부터 5까지 합: 15

1부터 5까지 합: 15

## 2. for문을 이용한 시퀀스 순회
* 리스트 순회

In [6]:
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
    print(fruit)
# apple
# banana
# orange

apple
banana
orange

* 문자열 순회

In [7]:
text = "Hello"
for ch in text:
    print(ch)
# H
# e
# l
# l
# o

H
e
l
l
o

### 튜플, 집합, 딕셔너리 순회
* 튜플: 리스트와 동일하게 순회
* 집합(set): 순서는 없지만, for문으로 원소를 하나씩 꺼낼 수 있습니다 (순서는 예측 불가)
* 딕셔너리: 기본적으로 키를 순회합니다.

In [8]:
my_dict = {"a": 1, "b": 2, "c": 3}
for key in my_dict:
    print(key, my_dict[key])
# a 1
# b 2
# c 3

a 1
b 2
c 3

## enumerate와 zip
* enumerate: 시퀀스를 순회하면서, 인덱스와 값을 동시에 추출할 수 있습니다.

In [9]:
fruits = ["apple", "banana", "orange"]
for index, fruit in enumerate(fruits):
    print(index, fruit)
# 0 apple
# 1 banana
# 2 orange

0 apple
1 banana
2 orange

* zip: 여러 시퀀스를 병렬로 묶어서 동시에 순회할 수 있습니다.

In [10]:
days = ["월", "화", "수"]
temperatures = [20, 22, 19]
for day, temp in zip(days, temperatures):
    print(day, temp)
# 월 20
# 화 22
# 수 19

월 20
화 22
수 19

## 중첩 for문
* for문 안에 또 다른 for문을 작성할 수 있습니다.
* 예를 들어, 구구단의 각 단을 출력하거나 2차원 리스트를 순회할 때 사용합니다.

In [11]:
for i in range(2, 10):        # 2단부터 9단
    for j in range(1, 10):    # 1부터 9
        print(f"{i} x {j} = {i*j}")
    print("---")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
---
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
---
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
---
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
---
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
---
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
---
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
---

## for문에서의 break와 continue
* break: for 반복을 즉시 종료합니다.

In [12]:
for i in range(10):
    if i == 5:
        break
    print(i, end=' ')
# 출력: 0 1 2 3 4

0 1 2 3 4

* continue: 현재 반복을 스킵하고 다음 반복으로 넘어갑니다.

In [13]:
for i in range(5):
    if i == 2:
        continue
    print(i, end=' ')
# 출력: 0 1 3 4
# (2는 스킵됨)

0 1 3 4

## for ~ else 구문
* while ~ else와 유사하게, for문이 정상적으로 끝까지 반복을 마치면 else 블록이 실행됩니다.
* 중간에 break로 빠져나오면 else 블록은 실행되지 않습니다.

In [14]:
for i in range(1, 5):
    if i == 3:
        break
    print(i)
else:
    print("모든 반복 완료")  # break로 인해 실행되지 않음

1
2

## 연습문제
1. for i in range(5):를 사용하여 0부터 4까지 숫자를 한 줄에 출력하세요.

In [1]:
for i in range(5):
    print(i, end=" ")

0 1 2 3 4

2. 리스트 colors = ["red", "blue", "green"]를 for문으로 순회하여 색상을 순서대로 출력하세요.

In [4]:
colors = ["red", "blue", "green"]
for i in colors:
    print(i)

red
blue
green

3. for i in range(1, 6):를 사용해 1 + 2 + 3 + 4 + 5 누적 합을 구하고 출력하세요.

In [5]:
sum = 0
for i in range(1, 6):
    sum = sum + i
sum

# sum([i for i in range(1, 6)])

# [i for i in range(1, 6)]      # 넣어주고 싶은 변수를 for문 앞에 적어기기
# [i*j for i in range(1, 6) for j in range(1, 6) if i % 2 == 0]     # 이중for문도 가능.  조건 걸어주기도 가능 (ex.i가 짝수일때만)

15

4. 문자열 text = "Hello"에서 각 문자를 하나씩 꺼내어 출력하세요.

In [7]:
text = "Hello"
for i in range(0, 5):
    print(text[i])

# for i in text:
#     print(i)

H
e
l
l
o

5. for i in range(10):에서 i가 5가 되면 break하고, 그렇지 않으면 i를 출력하세요.

In [8]:
for i in range(10):
    if i == 5:
        break
    else:
        print(i)

0
1
2
3
4

6. for i in range(1, 11): 에서 짝수만 더한 합을 구해 출력하세요. (2+4+6+8+10=30)

In [10]:
sum = 0
for i in range(1, 11): 
    if i % 2 == 0:
        sum = sum + i
sum

30

7. 리스트 names = ["Alice", "Bob", "Charlie"]를 enumerate로 순회하며, "0번째 이름은 Alice" 이런 식으로 인덱스와 함께 출력하세요.

In [18]:
names = ["Alice", "Bob", "Charlie"]
for i in enumerate(names):
    print(f"{i[0]}번째 이름은 {i[1]}")

# for i, j in enumerate(names):
#     print(f"{i}번째 이름은 {j}")

0번째 이름은 Alice
1번째 이름은 Bob
2번째 이름은 Charlie

8. 아래 두 리스트를 zip으로 묶어서 "국어 점수는 90점", "영어 점수는 85점", "수학 점수는 95점" 형태로 출력하세요.

In [25]:
subjects = ["국어", "영어", "수학"]
scores = [90, 85, 95]
for i in zip(subjects, scores):
    print(f"{i[0]} 점수는 {i[1]}점")

# for i, j in list*zip(subjects, scores)):
#     print(f"{i} 점수는 {j}점")

국어 점수는 90점
영어 점수는 85점
수학 점수는 95점

10. for i in range(1, 6):에서 i가 짝수이면 출력하지 않고, 홀수이면 출력하세요.

In [26]:
for i in range(1, 6):
    if i % 2 != 0:
        print(i)

1
3
5

11. 리스트 nums = [3, 7, 2, 9, 1]에서 for문을 사용하여 최댓값을 찾고 출력하세요. (max() 내장 함수 사용 금지)

In [30]:
nums = [3, 7, 2, 9, 1]
max = nums[0]
for i in range(5):
    if (nums[i] > max):
        max = nums[i]
print(max)


# value = 0
# nums = [3, 7, 2, 9, 1]
# for i in nums:
#     if i >= value:
#         value = i
# value

9

13. 문자열 words = ["hello", "world"]에서 각 단어를 뒤집어서 출력하세요. (예: "hello" -> "olleh") (힌트: [::-1] 슬라이싱 사용 가능)

In [39]:
words = ["hello", "world"]
for i in range(len(words)):
    print(words[i][::-1])

# for i in words:
#     print(i[::-1])

olleh
dlrow

14. 사용자에게 정수 n을 입력받아, 높이가 n인 간단한 왼쪽 정렬 별 피라미드를 출력하세요. 예를 들어 n=4일 때,

```
*
**
***
****
```

In [2]:
n = int(input("입력: "))
for i in range(1, n+1):
    print("*" * i)           # 문자열 * 숫자  가능

입력:  4

*
**
***
****