# 딕셔너리(Dictionary)란 무엇인가?
딕셔너리는 키(key)와 값(value)을 한 쌍으로 저장하는 파이썬의 자료형입니다.

* 리스트(list)나 튜플(tuple)처럼 순서가 정해져 있지는 않습니다. (파이썬 3.7+부터 내부적으로는 입력 순서를 유지하지만, 일반적으로 순서보다는 키로 접근하는 자료 구조라고 이해하면 됩니다).
* 변경(mutable)이 가능하기 때문에, 데이터를 수정, 추가, 삭제할 수 있습니다.
* 중괄호 {} 안에 키:값 형태로 작성하며, 키는 중복될 수 없습니다. (나중에 저장한 키의 값으로 덮어쓰게 됨).

In [1]:
# 딕셔너리 예시
person = {
    "이름": "홍길동",
    "나이": 30,
    "직업": "프로그래머"
}

print(person)

{'이름': '홍길동', '나이': 30, '직업': '프로그래머'}

## 1. 딕셔너리의 생성과 기본 사용
* 빈 딕셔너리 생성

In [2]:
empty_dict = {}
# 또는
empty_dict = dict()

* 키-값 쌍을 추가하며 생성

In [3]:
scores = {
    "국어": 90,
    "영어": 85,
    "수학": 95
}
print(scores)

{'국어': 90, '영어': 85, '수학': 95}

* 다양한 자료형을 값으로 사용 가능

In [4]:
mixed_data = {
    "이름": "홍길동",
    "나이": 30,
    "취미": ["독서", "등산", "코딩"],
    "기혼여부": True
}

print(mixed_data)

{'이름': '홍길동', '나이': 30, '취미': ['독서', '등산', '코딩'], '기혼여부': True}

## 2. 딕셔너리 요소 접근 방법
* 키를 사용한 접근 (존재하지 않는 키를 사용하면 KeyError가 발생합니다.)

In [5]:
person = {"이름": "홍길동", "나이": 30}

print(person["이름"])  # "홍길동" 출력
print(person["나이"])  # 30 출력

홍길동
30

* ```get()``` 메서드 사용 (get(key, default) 형태로 사용하면, 키가 존재하지 않을 때 에러 대신 기본값을 리턴합니다.)

In [6]:
person = {"이름": "홍길동"}

print(person.get("나이"))       # None 출력 (키가 없을 경우)
print(person.get("나이", 20))   # 두 번째 인자를 기본값으로 설정 가능 → 20

None
20

## 3. 딕셔너리 요소 수정, 추가, 삭제
* 수정

In [7]:
person = {"이름": "홍길동", "나이": 30}
person["나이"] = 35   # 키가 이미 존재하면 값을 덮어씀
print(person)

{'이름': '홍길동', '나이': 35}

* 추가

In [8]:
person = {"이름": "홍길동"}
person["직업"] = "프로그래머"  # 존재하지 않는 키이면 새로 추가
print(person)

{'이름': '홍길동', '직업': '프로그래머'}

* 삭제

In [9]:
person = {"이름": "홍길동", "나이": 30, "직업": "프로그래머"}
del person["나이"]       # 특정 키 삭제
print(person)
# 결과: {'이름': '홍길동', '직업': '프로그래머'}

# pop() 메서드로 삭제
job = person.pop("직업")  
print(job)              # "프로그래머" 출력
print(person)           # {'이름': '홍길동'}

{'이름': '홍길동', '직업': '프로그래머'}
프로그래머
{'이름': '홍길동'}

* 전체 삭제

In [10]:
person.clear()
print(person)

{}

## 4. 딕셔너리의 주요 메서드
* ```keys()```: 딕셔너리의 모든 키를 반환

In [11]:
scores = {"국어": 90, "영어": 85, "수학": 95}
print(scores.keys())

dict_keys(['국어', '영어', '수학'])

* ```values()```: 딕셔너리의 모든 값을 반환

In [12]:
print(scores.values())

dict_values([90, 85, 95])

* ```items()```: (키, 값) 쌍을 튜플 형태로 묶어 반환

In [13]:
print(scores.items())

dict_items([('국어', 90), ('영어', 85), ('수학', 95)])

* ```update()```: 다른 딕셔너리의 키-값을 추가하거나 갱신

In [14]:
new_scores = {"과학": 100, "국어": 95}   # 이미 있던 '국어'는 업데이트
scores.update(new_scores)
print(scores)

{'국어': 95, '영어': 85, '수학': 95, '과학': 100}

* ```in``` 연산자: 딕셔너리에 특정 키가 존재하는지 여부

In [15]:
# 문자열, 리스트, 튜플 등 다른 자료형에도 적용 가능

print("국어" in scores)  # True
print("사회" in scores)  # False

True
False

## 연습문제
1. 아래 정보를 이용하여 person이라는 이름의 딕셔너리를 생성하세요.
* 이름: "홍길동"
* 나이: 20
* 도시: "서울"

In [1]:
person = {"이름" : "홍길동",
         "나이" : 20,
         "도시" : "서울"}
person

{'이름': '홍길동', '나이': 20, '도시': '서울'}

2. 문제 1에서 만든 person 딕셔너리에서 '나이'에 해당하는 값을 출력하는 코드를 작성하세요.

In [2]:
person["나이"]

20

3. person 딕셔너리에 새로운 항목 '학년'을 추가하고, 그 값으로 3을 저장하는 코드를 작성하세요.

In [3]:
person["학년"] = 3
person

{'이름': '홍길동', '나이': 20, '도시': '서울', '학년': 3}

4. person 딕셔너리의 '도시' 값을 "부산"으로 수정하는 코드를 작성하세요.

In [4]:
person["도시"] = "부산"
person

{'이름': '홍길동', '나이': 20, '도시': '부산', '학년': 3}

5. person 딕셔너리에서 '학년' 항목을 삭제하는 코드를 작성하세요.

In [5]:
del person["학년"]
person

{'이름': '홍길동', '나이': 20, '도시': '부산'}

6. 사용자로부터 키를 입력받아, 그 키가 person 딕셔너리에 존재하는지 확인하는 코드를 작성하세요.
* 만약 해당 키가 존재하면 "존재합니다"를,
* 존재하지 않으면 "존재하지 않습니다"를 출력하도록 하세요.

In [10]:
key = input("입력: ")
person.get(key, "존재하지 않습니다")

입력:  이름

'존재하지 않습니다'

7. 두 개의 딕셔너리 student_info와 additional_info를 하나로 합치는 코드를 작성하세요.

In [11]:
student_info = {'이름': '홍길동', '나이': 20}
additional_info = {'학년': 3, '학교': '서울대', '이름' : "장원영"}

student_info.update(additional_info)
student_info

{'이름': '장원영', '나이': 20, '학년': 3, '학교': '서울대'}