In [2]:
import pandas as pd

df = pd.read_csv("Data/02_Data.csv")
df.head()

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2022-05-05,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2023-02-19,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-02-27,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-12,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2022-05-09,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합

### 1. 렌탈 고객 유입 채널 분석

1-1. **유입 경로(Channel) 분석**
- 데이터에서 고객들의 유입 경로(Channel)를 분석하여, 가장 많은 고객이 유입된 경로를 확인하시오.

In [3]:
# 1-1
df.groupby("Channel").count().sort_values("Index", ascending = False)

# 제일 많이 유입된 경로 : 영업방판

,Index,Member_ID,Sales_Type,Contract_Type,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
Channel,,,,,,,,,,,,,,,,,,,
영업방판,23767,23767,23767,23767,23767,23767,23767,23767,23767,23767,21381,23767,23767,23767,23767,23767,23767,19897,23536
홈쇼핑/방송,12977,12977,12977,12977,12977,12977,12977,12977,12977,12977,12356,12977,12977,12977,12977,12977,12977,12425,12969
대형마트A,4725,4725,4725,4725,4725,4725,4725,4725,4725,4725,3969,4725,4725,4725,4725,4725,4725,3932,4649
전문매장H,3227,3227,3227,3227,3227,3227,3227,3227,3227,3227,1081,3227,3227,3227,3227,3227,3227,1025,1143
재계약,2193,2193,2193,2193,2193,2193,2193,2193,2193,2191,1986,2191,2191,2193,2193,2193,2193,1815,2188
대형마트E,1497,1497,1497,1497,1497,1497,1497,1497,1497,1497,1256,1497,1497,1497,1497,1497,1497,1225,1489
전문매장Z,1206,1206,1206,1206,1206,1206,1206,1206,1206,1206,1121,1206,1206,1206,1206,1206,1206,1090,1202
전단홍보,560,560,560,560,560,560,560,560,560,560,441,560,560,560,560,560,560,432,539
홈쇼핑/인터넷,375,375,375,375,375,375,375,375,375,375,349,375,375,375,375,375,375,357,375
대형마트H,225,225,225,225,225,225,225,225,225,225,206,225,225,225,225,225,225,206,225
직영유통사,188,188,188,188,188,188,188,188,188,188,0,188,188,188,188,188,188,0,0
자체홈페이지,120,120,120,120,120,120,120,120,120,120,110,120,120,120,120,120,120,101,120
대형마트C,119,119,119,119,119,119,119,119,119,119,0,119,119,119,119,119,119,6,22
대형마트N,83,83,83,83,83,83,83,83,83,83,73,83,83,83,83,83,83,7,83
직영계열사A,20,20,20,20,20,20,20,20,20,20,0,20,20,20,20,20,20,2,2
직영계열사B,19,19,19,19,19,19,19,19,19,19,0,19,19,19,19,19,19,0,0

1-2. **월렌탈비용 평균 계산**
- 1번에서 확인한 가장 많이 유입된 경로에 대해, 계약된 월렌탈비용(Amount_Month)의 평균을 계산하시오.

In [4]:
# 1-2
df[df["Channel"] == "영업방판"]['Amount_Month'].mean()

# 영업방판의 월렌탈비용 평균 : 100322.794631

100322.79463121135

1-3. **특정 유입 경로 고객 명단 추출** 
- 유입 경로(Channel) 중 '대형마트A'로 유입된 고객들 중, 연체 건수(Overdue_count)가 높은 상위 30명의 계약 명단을 추출하여 *result4.xlsx* 로 저장하시오.

In [39]:
# 1-3
A = df[df["Channel"] == "대형마트A"].sort_values("Overdue_count", ascending = False).iloc[0:30]
A.to_excel("result4.xlsx")
A

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
30326,30328,66434529,멤버십,멤버십3유형,대형마트A,2022-11-11,12,CMS,DES-1,66900,개인,59.0,서울특별시,서울특별시,기간만료,12,있음,남자,4.0,국민은행
42440,42442,66792361,렌탈,일반계약,대형마트A,2022-08-09,36,CMS,DES-2,102900,개인,64.0,서울특별시,서울특별시,계약확정,12,있음,여자,8.0,국민은행
43971,43973,66768055,렌탈,프로모션계약,대형마트A,2022-02-23,60,CMS,DES-3A,96900,개인,37.0,경상도,울산광역시,계약확정,12,있음,남자,9.0,농협회원조합
50085,50087,66771238,렌탈,프로모션계약,대형마트A,2022-07-30,60,CMS,DES-3A,90900,개인,49.0,경기도,인천광역시,계약확정,12,있음,여자,9.0,농협중앙회
47258,47260,66750846,렌탈,프로모션계약,대형마트A,2022-02-20,60,CMS,DES-2,90900,개인,66.0,경기도,경기도,계약확정,12,있음,여자,8.0,우리은행
48714,48716,66797116,렌탈,패키지계약,대형마트A,2022-07-29,60,CMS,DES-1,104400,개인,NaN,경상도,경상도,계약확정,12,있음,여자,4.0,새마을금고
39681,39683,25733821,렌탈,일반계약,대형마트A,2023-03-25,39,CMS,MMC,185700,사업자,NaN,경기도,인천광역시,계약확정,12,있음,여자,NaN,기업은행
49888,49890,66797116,렌탈,패키지계약,대형마트A,2022-02-22,60,CMS,DES-2,89400,개인,NaN,경상도,경상도,계약확정,12,있음,여자,4.0,새마을금고
44425,44427,66786968,렌탈,프로모션계약,대형마트A,2023-07-31,39,CMS,ERA,120900,개인,46.0,전라도,광주광역시,계약확정,12,있음,남자,8.0,농협중앙회
44424,44426,66786968,렌탈,프로모션계약,대형마트A,2023-07-31,60,CMS,DES-3A,108900,개인,46.0,전라도,광주광역시,계약확정,12,있음,남자,8.0,농협중앙회
48365,48367,66786968,렌탈,프로모션계약,대형마트A,2022-03-30,60,CMS,DES-3A,108900,개인,46.0,전라도,광주광역시,계약확정,12,있음,남자,8.0,농협중앙회
48366,48368,66786968,렌탈,프로모션계약,대형마트A,2022-05-07,60,CMS,DES-3A,108900,개인,46.0,전라도,광주광역시,계약확정,12,있음,남자,8.0,농협중앙회
44205,44207,25732653,렌탈,프로모션계약,대형마트A,2022-12-20,60,CMS,DES-1,105900,사업자,NaN,서울특별시,서울특별시,계약확정,12,있음,여자,NaN,기업은행
49722,49724,66750846,렌탈,프로모션계약,대형마트A,2022-07-29,39,CMS,MMC,185700,개인,66.0,경기도,경기도,계약확정,12,있음,여자,8.0,우리은행
44204,44206,25732653,렌탈,프로모션계약,대형마트A,2022-10-23,60,CMS,DES-3A,108900,사업자,NaN,서울특별시,서울특별시,계약확정,12,있음,여자,NaN,기업은행
44203,44205,25732653,렌탈,일반계약,대형마트A,2022-07-29,39,CMS,MMC,185700,사업자,NaN,서울특별시,서울특별시,계약확정,12,있음,여자,NaN,기업은행
33578,33580,66435309,멤버십,멤버십3유형,대형마트A,2022-07-26,12,CMS,DES-1,66900,개인,48.0,경상도,부산광역시,기간만료,12,있음,여자,6.0,부산은행
49464,49466,66771238,렌탈,프로모션계약,대형마트A,2022-06-23,39,CMS,ERA,108900,개인,49.0,경기도,인천광역시,계약확정,12,있음,여자,9.0,농협중앙회
47225,47227,25853347,멤버십,멤버십3유형,대형마트A,2022-09-16,12,CMS,DES-1,66900,사업자,NaN,경기도,경기도,계약확정,12,있음,여자,NaN,농협회원조합
46591,46593,66795310,렌탈,일반계약,대형마트A,2022-09-06,60,CMS,DES-1,105900,개인,57.0,경상도,대구광역시,계약확정,12,있음,여자,8.0,대구은행
45479,45481,66771238,렌탈,일반계약,대형마트A,2023-01-20,60,CMS,DES-1,105900,개인,49.0,경기도,인천광역시,계약확정,12,있음,여자,9.0,농협중앙회
50383,50385,66798413,렌탈,프로모션계약,대형마트A,2022-06-24,60,CMS,DES-1,105900,개인,NaN,경기도,경기도,계약확정,12,있음,여자,8.0,농협회원조합
45478,45480,66771238,렌탈,일반계약,대형마트A,2022-12-01,36,CMS,DES-2,102900,개인,49.0,경기도,인천광역시,계약확정,12,있음,여자,9.0,농협중앙회
13249,13250,66428790,멤버십,멤버십3유형,대형마트A,2022-02-20,12,CMS,DES-1,66900,개인,56.0,전라도,전라도,기간만료,12,있음,남자,6.0,국민은행
46416,46418,66795005,렌탈,일반계약,대형마트A,2023-04-07,60,CMS,DES-1,96900,개인,33.0,경기도,경기도,계약확정,12,있음,남자,8.0,농협회원조합
43838,43840,66790268,렌탈,일반계약,대형마트A,2022-08-23,60,CMS,DES-1,96900,개인,30.0,경상도,대구광역시,계약확정,12,있음,남자,9.0,우체국
43837,43839,66790268,렌탈,프로모션계약,대형마트A,2022-07-30,60,CMS,DES-3A,108900,개인,30.0,경상도,대구광역시,계약확정,12,있음,남자,9.0,우체국
39838,39840,66306264,렌탈,일반계약,대형마트A,2022-10-06,60,CMS,DES-1,124200,개인,53.0,서울특별시,서울특별시,계약확정,12,있음,남자,9.0,농협중앙회
41241,41243,25733821,렌탈,일반계약,대형마트A,2022-08-29,39,CMS,MMC,185700,사업자,NaN,서울특별시,서울특별시,계약확정,12,있음,여자,NaN,기업은행
48951,48953,66796825,렌탈,패키지계약,대형마트A,2023-02-04,60,CMS,DES-1,89400,개인,NaN,서울특별시,서울특별시,계약확정,11,있음,여자,8.0,농협중앙회

### 2. 렌탈 계약 제품군 분석

2-1. **제품군(Product_Type) 데이터 확인**
- 데이터에서 고객들이 가장 많이 계약한 제품군(Product_Type)을 분석하고, 해당 제품군에 어떤 데이터가 포함되어 있는지 확인하시오.

In [7]:
# 2-1
df.groupby("Product_Type").count().sort_values("Index", ascending = False)

# 가장 많이 계약한 제품군 : DES-1

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
Product_Type,,,,,,,,,,,,,,,,,,,
DES-1,39133,39133,39133,39133,39133,39133,39133,39133,39133,39132,33239,39132,39132,39133,39133,39133,39133,31611,36587
DES-2,8996,8996,8996,8996,8996,8996,8996,8996,8996,8995,8223,8995,8995,8996,8996,8996,8996,8135,8828
DES-3A,2081,2081,2081,2081,2081,2081,2081,2081,2081,2081,1860,2081,2081,2081,2081,2081,2081,1773,2043
ERA,644,644,644,644,644,644,644,644,644,644,610,644,644,644,644,644,644,605,644
DES-R4,327,327,327,327,327,327,327,327,327,327,299,327,327,327,327,327,327,308,326
MMC,120,120,120,120,120,120,120,120,120,120,98,120,120,120,120,120,120,88,114

2-2. **상위 3개 제품군의 월렌탈비용 합계 계산**
- 제품군(Product_Type) 중 계약 건수(빈도)가 가장 높은 상위 3개의 항목을 추출하여 `df2`로 선언한 뒤, 계약일자(Datetime)에 따른 월렌탈비용(Amount_Month)의 합계를 계산하고 *result5.xlsx* 파일로 저장하시오.

In [40]:
# 2-2
df2 = df[df["Product_Type"].isin(["DES-1", "DES-2", "DES-3A"])]
A = df2.groupby("Datetime")["Amount_Month"].sum()
A.to_excel("result5.xlsx")
A

Datetime
2021-12-31    4556400
2022-01-01    4903800
2022-01-02    7146300
2022-01-03    4920900
2022-01-04    5505450
               ...
2023-08-03    2903739
2023-08-04    2858343
2023-08-05    3031842
2023-08-06    2770758
2023-08-07    1984143
Name: Amount_Month, Length: 577, dtype: int64

2-3. **상위 2개 제품군 간 월렌탈비용 평균 차이 계산**
- 계약 건수가 가장 많은 상위 2개의 제품군(Product_Type)에 대해, 월렌탈비용(Amount_Month)의 평균 차이를 계산하시오.

In [91]:
# 2-3
print(df[df["Product_Type"] == "DES-1"]["Amount_Month"].mean())     # 제품군이 DES-1일때 월렌탈비용 평균 
print(df[df["Product_Type"] == "DES-2"]["Amount_Month"].mean())     # 제품군이 DES-2일때 월렌탈비용 평균 
print((df[df["Product_Type"] == "DES-1"]["Amount_Month"].mean()) - (df[df["Product_Type"] == "DES-2"]["Amount_Month"].mean()))

# DES-1과 DES-2의 월렌탈비용의 평균의 차 : 6868.154548431063

94424.54516648353
87556.39061805246
6868.154548431063

### 3. 계약 고객 특성 분석

1. **결제 은행(Bank) 확인**
- 데이터에서 고객들이 결제하는 은행(Bank)을 확인하고, 결제 은행 항목에서 '신한카드'로 결제하는 고객 수를 확인하시오.

In [9]:
# 3-1
df[df["Bank"] == "신한카드"].count()

# 신한카드로 결제하는 고객 수  : 1532

Index            1532
Member_ID        1532
Sales_Type       1532
Contract_Type    1532
Channel          1532
Datetime         1532
Term             1532
Payment_Type     1532
Product_Type     1532
Amount_Month     1532
Customer_Type    1532
Age              1454
Address1         1532
Address2         1532
State            1532
Overdue_count    1532
Overdue_Type     1532
Gender           1532
Credit_Rank      1447
Bank             1532
dtype: int64

3-2. **특정 조건 고객 행 수 확인**
- 월렌탈비용(Amount_Month)이 15만원 이상인 고객들 중, 판매 유형(Sales_Type)이 '렌탈'인 고객만 추출하여 해당 데이터의 행 수(index 개수)를 확인하시오.

In [5]:
# 3-2
df[(df["Amount_Month"] >= 150000) & (df["Sales_Type"] == "렌탈")].count()

# 해당 데이터의 행 수 : 141

Index            141
Member_ID        141
Sales_Type       141
Contract_Type    141
Channel          141
Datetime         141
Term             141
Payment_Type     141
Product_Type     141
Amount_Month     141
Customer_Type    141
Age              104
Address1         141
Address2         141
State            141
Overdue_count    141
Overdue_Type     141
Gender           141
Credit_Rank       91
Bank             124
dtype: int64

### 4. 전체 계약 건 분석

4-1. **계약 연도 파생 변수 생성 및 월렌탈비용 합계 계산**
- 계약일자(Datetime)에서 계약 연도(Year) 파생 변수를 생성하고, 연도별로 각 제품군(Product_Type)의 월렌탈비용(Amount_Month) 합계를 계산하시오.

In [81]:
# 4-1
df["Year"] = pd.to_datetime(df["Datetime"]).dt.year 
df.groupby(["Year", "Product_Type"])["Amount_Month"].sum()

Year  Product_Type
2021  DES-1              3201600
      DES-2              1082100
      DES-3A              272700
2022  DES-1           2945729313
      DES-2            631794330
      DES-3A           157173060
      DES-R4            33891300
      ERA               62944500
      MMC               17540100
2023  DES-1            746184813
      DES-2            154780860
      DES-3A            39639300
      DES-R4             8437200
      ERA               14171100
      MMC                5193900
Name: Amount_Month, dtype: int64

4-2. **제품군별 증감율 계산 (2022년 대비 2023년)**
- 2022년과 2023년 각 제품군(Product_Type)별 월렌탈비용(Amount_Month) 합계의 증감율을 계산하시오.
    - 증감율 계산식: 증감율=2022년 월렌탈비용 총합(2022년 월렌탈비용 총합)−(2023년 월렌탈비용 총합)

In [92]:
# 4-2
# df.groupby(["Year", "Product_Type"])["Amount_Month"].sum()
A = (df[df["Year"] == 2022].groupby("Product_Type")["Amount_Month"].sum())
B = (df[df["Year"] == 2023].groupby("Product_Type")["Amount_Month"].sum())
print((A - B / A))

Product_Type
DES-1     2.945729e+09
DES-2     6.317943e+08
DES-3A    1.571731e+08
DES-R4    3.389130e+07
ERA       6.294450e+07
MMC       1.754010e+07
Name: Amount_Month, dtype: float64

4-3. **판매 유형별 월렌탈비용 평균 차이 계산**
- 판매 유형(Sales_Type)에서 '렌탈' 계약과 '멤버십' 계약의 월렌탈비용(Amount_Month) 평균 차이를 계산하시오.

In [96]:
# 4-3
print(df[df["Sales_Type"] == "렌탈"]["Amount_Month"].mean())       # 판매유형이 "렌탈"일때 월렌탈비용 평균 
print(df[df["Sales_Type"] == "멤버십"]["Amount_Month"].mean())     # 판매유형이 "멤버십"일때 월렌탈비용 평균 
print((df[df["Sales_Type"] == "렌탈"]["Amount_Month"].mean()) - (df[df["Sales_Type"] == "멤버십"]["Amount_Month"].mean()))

# 판매유형이 "렌탈"일때와 판매유형이 "멤버십"일때의 월렌탈비용의 평균 차이 : 34122.413318100276

97199.6250242024
63077.21170610212
34122.413318100276

4-4. **주차별 계약 데이터 자동 정리 함수 생성**
- 계약 데이터를 주기적으로 정리하는 업무 자동화 프로그램을 위해, 데이터에서 주차(Work Week)를 입력받아 해당 주차의 제품군(Product_Type)별 월렌탈비용(Amount_Month)의 합계와 평균을 엑셀 파일로 출력하는 함수를 생성하시오.

In [102]:
# 4-4
def search_week(work_week):
    df['Datetime'] = pd.to_datetime(df['Datetime'])
    df['work_week'] = df['Datetime'].dt.to_period('W')
    df['week'] = df['work_week'].dt.week
    df_week = df[df['work_week'].dt.week == work_week]
    result = df_week.groupby('Product_Type')['Amount_Month'].agg(['sum', 'mean']).reset_index()
    print(result)
    return result.to_excel(f"{work_week}주차 월렌탈비용.xlsx")

A = input("주차를 입력하세요 : ")
search_week(int(A))

주차를 입력하세요 :  3

  Product_Type       sum           mean
0        DES-1  94985691   94890.800200
1        DES-2  20224860   86801.974249
2       DES-3A   5533200   93783.050847
3       DES-R4    632100  126420.000000
4          ERA   1426800  118900.000000
5          MMC    772800  193200.000000