In [8]:
from tqdm import tqdm
import pandas as pd
import FinanceDataReader as fdr

stocks = fdr.StockListing("S&P500")
# fdr.DataReader("AAPL")

stocks_dic = {}

for i in tqdm(range(len(stocks))):   
    try:
        row = stocks.iloc[i]
        symbol = row["Symbol"]
        name = row["Name"]
        df = fdr.DataReader(symbol)    # 관련된 종목 가격데이터 
        stocks_dic[symbol] = [name, df]
    except:
        continue

100%|████████████████████████████████████████████████████████████████████████████████| 503/503 [06:21<00:00,  1.32it/s]

In [15]:
X = []
Y = []

window = 10

for symbol in tqdm(stocks_dic):
    sample = stocks_dic[symbol][1].copy()
    name = stocks_dic[symbol][0]
    
    for i in range(len(sample) - window):
        A = sample.iloc[i : i + window].values.flatten()
        B = sample.iloc[i + window - 1, 3] * 1.05 <= sample.iloc[i + window, 3]
        X.append(A)
        Y.append(B)

 44%|███████████████████████████████████▎                                            | 221/501 [02:09<02:43,  1.71it/s]

KeyboardInterrupt:

In [20]:
X = []
Y = []

window = 10

for symbol in tqdm(stocks_dic):
    sample = stocks_dic[symbol][1].copy().values       # 행렬로 하면 속도가 비약적으로 빨라짐
    name = stocks_dic[symbol][0]
    
    for i in range(len(sample) - window):
        A = sample[i : i + window].flatten()
        B = sample[i + window - 1, 3] * 1.05 <= sample[i + window, 3]
        X.append(A)
        Y.append(B)

100%|████████████████████████████████████████████████████████████████████████████████| 501/501 [00:12<00:00, 39.89it/s]

In [21]:
len(X), len(Y)

(4076113, 4076113)

In [22]:
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import classification_report

train_x, test_x, train_y, test_y = train_test_split(X, Y, stratify=Y)

model = XGBClassifier()
model.fit(train_x, train_y)

pred = model.predict(test_x)

report = classification_report(test_y, pred)
print(report) 

# 정밀도 기존 0% -> 30%로까지 올림
# 목표: 80%

              precision    recall  f1-score   support

       False       0.98      1.00      0.99    997334
        True       0.31      0.02      0.04     21695

    accuracy                           0.98   1019029
   macro avg       0.65      0.51      0.51   1019029
weighted avg       0.96      0.98      0.97   1019029

In [25]:
# (시가, 저가, 고가, 종가, 거래량) X 10 : 정밀도 30%

from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings("ignore")

url = requests.get("https://finance.naver.com/sise/sise_market_sum.naver")
html = BeautifulSoup(url.text)

table = html.find("table", class_ = "type_2")
table = pd.read_html(str(table))[0]
table = table.dropna(subset = "종목명")
table

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,60500.0,하락 300,-0.49%,100.0,3581381.0,5919638.0,49.74,5291927.0,11.72,9.03,NaN
2,2.0,SK하이닉스,289500.0,"상승 5,500",+1.94%,5000.0,2107567.0,728002.0,55.52,1187296.0,8.11,31.06,NaN
3,3.0,삼성바이오로직스,999000.0,"상승 3,000",+0.30%,2500.0,711028.0,71174.0,12.89,7856.0,55.57,10.45,NaN
4,4.0,LG에너지솔루션,295500.0,"상승 7,500",+2.60%,500.0,691470.0,234000.0,4.09,85750.0,-59.41,-4.93,NaN
5,5.0,두산에너빌리티,69300.0,"상승 3,500",+5.32%,5000.0,443909.0,640561.0,24.43,6819475.0,-435.85,1.52,NaN
9,6.0,KB금융,112500.0,"상승 1,900",+1.72%,5000.0,429145.0,381462.0,78.22,311487.0,7.80,8.86,NaN
10,7.0,현대차,206000.0,"상승 1,000",+0.49%,5000.0,421801.0,204758.0,36.28,138124.0,4.49,12.43,NaN
11,8.0,NAVER,258500.0,"상승 1,000",+0.39%,100.0,409560.0,158437.0,46.20,559821.0,22.57,7.90,NaN
12,9.0,삼성전자우,50100.0,하락 500,-0.99%,100.0,408803.0,815975.0,73.91,414890.0,9.71,NaN,NaN
13,10.0,한화에어로스페이스,860000.0,"하락 30,000",-3.37%,5000.0,406747.0,47296.0,44.71,63725.0,17.39,53.94,NaN
17,11.0,기아,97500.0,하락 200,-0.20%,5000.0,387731.0,397673.0,39.23,155871.0,4.16,19.09,NaN
18,12.0,HD현대중공업,428000.0,"상승 6,000",+1.42%,5000.0,379949.0,88773.0,10.91,46426.0,43.32,11.39,NaN
19,13.0,셀트리온,160200.0,상승 300,+0.19%,1000.0,356326.0,222426.0,21.38,77205.0,74.13,2.46,NaN
20,14.0,신한지주,61400.0,상승 900,+1.49%,5000.0,304447.0,495842.0,58.94,489939.0,6.74,8.11,NaN
21,15.0,삼성물산,162000.0,"상승 3,200",+2.02%,100.0,275362.0,169977.0,27.01,117135.0,12.94,6.83,NaN
25,16.0,카카오,60050.0,하락 850,-1.40%,100.0,265281.0,441767.0,28.14,1606478.0,173.55,0.56,NaN
26,17.0,HD한국조선해양,374500.0,"상승 10,500",+2.88%,5000.0,265045.0,70773.0,33.09,72596.0,17.92,11.16,NaN
27,18.0,현대모비스,288000.0,"하락 1,500",-0.52%,5000.0,264370.0,91795.0,43.00,44019.0,6.35,9.35,NaN
28,19.0,삼성생명,129800.0,"상승 3,500",+2.77%,500.0,259600.0,200000.0,21.93,60963.0,12.25,6.18,NaN
29,20.0,한화오션,81700.0,"상승 2,300",+2.90%,5000.0,250340.0,306413.0,12.41,773253.0,36.13,11.52,NaN
33,21.0,한국전력,38900.0,하락 350,-0.89%,5000.0,249724.0,641964.0,19.19,4734505.0,4.75,9.22,NaN
34,22.0,SK스퀘어,187000.0,"상승 10,700",+6.07%,100.0,247851.0,132541.0,51.83,295167.0,5.04,21.70,NaN
35,23.0,하나금융지주,85700.0,"상승 1,500",+1.78%,5000.0,244008.0,284724.0,67.88,235691.0,6.47,9.11,NaN
36,24.0,HMM,22700.0,상승 300,+1.34%,5000.0,232684.0,1025039.0,6.96,356820.0,4.47,15.35,NaN
37,25.0,현대로템,197800.0,"하락 3,200",-1.59%,5000.0,215883.0,109142.0,31.95,266803.0,42.41,21.85,NaN
41,26.0,POSCO홀딩스,262500.0,"상승 2,500",+0.96%,5000.0,212449.0,80933.0,29.44,85576.0,25.52,2.00,NaN
42,27.0,메리츠금융지주,113100.0,상승 900,+0.80%,500.0,203596.0,180014.0,15.99,55928.0,9.26,23.44,NaN
43,28.0,삼성화재,441500.0,"상승 6,500",+1.49%,500.0,203139.0,46011.0,55.92,20831.0,11.27,13.11,NaN
44,29.0,HD현대일렉트릭,505000.0,"상승 17,500",+3.59%,5000.0,182038.0,36047.0,34.71,84561.0,32.41,39.34,NaN
45,30.0,SK이노베이션,115000.0,"상승 17,200",+17.59%,5000.0,173690.0,151035.0,13.74,1592078.0,-5.68,-9.65,NaN
49,31.0,크래프톤,363000.0,"상승 5,500",+1.54%,100.0,172028.0,47391.0,43.11,39369.0,13.11,21.10,NaN
50,32.0,우리금융지주,22400.0,하락 100,-0.44%,5000.0,166340.0,742592.0,46.83,554480.0,5.78,9.39,NaN
51,33.0,고려아연,815000.0,"하락 29,000",-3.44%,5000.0,163190.0,20023.0,12.37,11220.0,68.49,2.28,NaN
52,34.0,KT&G,124900.0,"상승 1,600",+1.30%,5000.0,152456.0,122062.0,43.77,60907.0,14.06,12.66,NaN
53,35.0,LG화학,213500.0,"상승 4,500",+2.15%,5000.0,150715.0,70592.0,30.56,68270.0,-17.87,-2.11,NaN
57,36.0,SK,206500.0,"상승 8,900",+4.50%,200.0,149718.0,72503.0,23.86,242729.0,16.81,-5.64,NaN
58,37.0,삼성중공업,16840.0,상승 680,+4.21%,1000.0,148192.0,880000.0,31.61,3171462.0,101.45,1.77,NaN
59,38.0,기업은행,18350.0,상승 50,+0.27%,5000.0,146328.0,797426.0,14.18,391260.0,5.48,8.06,NaN
60,39.0,카카오뱅크,30350.0,"하락 1,100",-3.50%,5000.0,144766.0,476989.0,16.97,1460305.0,31.03,6.95,NaN
61,40.0,KT,56000.0,"상승 1,600",+2.94%,5000.0,141132.0,252022.0,49.00,198770.0,22.30,2.85,NaN
65,41.0,삼성SDI,172500.0,"상승 2,800",+1.65%,5000.0,139010.0,80586.0,27.78,194711.0,118.07,3.13,NaN
66,42.0,삼성에스디에스,170400.0,"하락 2,900",-1.67%,500.0,131852.0,77378.0,18.81,122179.0,17.40,8.42,NaN
67,43.0,하이브,306000.0,상승 500,+0.16%,500.0,127455.0,41652.0,19.23,37236.0,243.63,0.31,NaN
68,44.0,LG,79900.0,상승 200,+0.25%,5000.0,125644.0,157251.0,34.69,76320.0,15.81,2.16,NaN
69,45.0,미래에셋증권,21700.0,상승 350,+1.64%,5000.0,123759.0,570316.0,12.29,1133971.0,15.91,7.94,NaN
73,46.0,LG전자,74300.0,상승 200,+0.27%,5000.0,121590.0,163648.0,29.37,124566.0,19.42,1.81,NaN
74,47.0,SK텔레콤,56450.0,상승 250,+0.44%,100.0,121249.0,214790.0,39.92,184077.0,9.61,10.83,NaN
75,48.0,LIG넥스원,542000.0,"하락 1,000",-0.18%,5000.0,119240.0,22000.0,31.41,47785.0,48.60,19.59,NaN
76,49.0,한화시스템,59500.0,상승 200,+0.34%,5000.0,112407.0,188919.0,8.26,359048.0,25.53,19.63,NaN
77,50.0,두산,665000.0,"상승 14,000",+2.15%,5000.0,109884.0,16524.0,13.14,80385.0,-68.63,-14.57,NaN

## 네이버증권의 모든 표데이터와 옵션값 불러오기 가능

In [26]:
from bs4 import BeautifulSoup
from tqdm import tqdm
from datetime import datetime, timedelta
import pandas as pd
import requests
import time
import random
from numpy import nan
from io import StringIO

import os

today = str(datetime.today().date())

try:
    os.mkdir(today)
except:
    pass

def make_table(html):
    html = BeautifulSoup(url.text)
    table = html.find("table", class_ = 'type_2')
    table = pd.read_html(StringIO(str(table)))[0].dropna(subset="종목명").drop(['N', '토론실'], axis = 1)
    return table

url = requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page=1")
html = BeautifulSoup(StringIO(url.text), 'lxml')

fields = [i['value'] for i in html.find("table", class_ = 'item_list').find_all("input", attrs = {'name' : 'fieldIds'})]

kospi_page = int(html.find("td", class_ = 'pgRR').find("a")['href'].split('=')[-1])

kospi_box = []
for n in tqdm(range(1, kospi_page + 1)):
    
    data = {'menu' : 'market_sum', 
        "fieldIds" : fields, 'returnUrl' : f"https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page={n}"}
    
    url = requests.post("https://finance.naver.com/sise/field_submit.naver", data = data)
    html = BeautifulSoup(StringIO(url.text), 'lxml')
    table = make_table(html)
    kospi_box.append(table)
    time.sleep(random.random() + 1)

kospi = pd.concat(kospi_box)
kospi['소속'] = 'KOSPI'

#--

url = requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=1&page=1")
html = BeautifulSoup(url.text, 'lxml')
kosdaq_page = int(html.find("td", class_ = 'pgRR').find("a")['href'].split('=')[-1])

kosdaq_box = []
for n in tqdm(range(1, kosdaq_page + 1)):
    
    data = {'menu' : 'market_sum', 
        "fieldIds" : fields, 'returnUrl' : f"https://finance.naver.com/sise/sise_market_sum.naver?sosok=1&page={n}"}
    
    url = requests.post("https://finance.naver.com/sise/field_submit.naver", data = data)
    html = BeautifulSoup(StringIO(url.text), 'lxml')
    table = make_table(html)
    kosdaq_box.append(table)
    time.sleep(random.random() + 1)

kosdaq = pd.concat(kosdaq_box)
kosdaq['소속'] = 'KOSDAQ'

stock = pd.concat([kospi, kosdaq], ignore_index=True)
# stock.to_excel(f"{today}_국내주식.xlsx", index=False)
stock

100%|██████████████████████████████████████████████████████████████████████████████████| 47/47 [01:29<00:00,  1.89s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 36/36 [01:07<00:00,  1.87s/it]

,종목명,현재가,전일비,등락률,액면가,거래량,거래대금,전일거래량,시가,고가,...,보통주배당금,매출액증가율,영업이익증가율,외국인비율,PER,ROE,ROA,PBR,유보율,소속
0,삼성전자,60450.0,하락 350,-0.58%,100.0,5303179.0,321032.0,17340470.0,61200.0,61200.0,...,1446.0,16.20,398.34,49.74,11.71,9.03,7.10,1.02,41772.8,KOSPI
1,SK하이닉스,290500.0,"상승 6,500",+2.29%,5000.0,1253532.0,361153.0,5134863.0,288500.0,291000.0,...,2204.0,102.02,403.58,55.52,8.14,31.06,17.98,2.46,1911.2,KOSPI
2,삼성바이오로직스,996000.0,보합0,0.00%,2500.0,8354.0,8325.0,38057.0,1001000.0,1001000.0,...,0.0,23.08,18.53,12.89,55.40,10.45,6.49,6.28,6041.4,KOSPI
3,LG에너지솔루션,295500.0,"상승 7,500",+2.60%,500.0,86306.0,25439.0,219699.0,290000.0,297500.0,...,NaN,-24.08,-73.40,4.09,-59.41,-4.93,0.64,3.27,15864.8,KOSPI
4,두산에너빌리티,68900.0,"상승 3,100",+4.71%,5000.0,6874671.0,481564.0,7601019.0,70400.0,72200.0,...,NaN,-7.71,-30.65,24.43,-433.33,1.52,1.55,5.80,90.8,KOSPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4124,아이엠,396.0,보합0,0.00%,500.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.05,-1009.39,6.22,-0.17,-133.80,-34.93,0.57,18.9,KOSDAQ
4125,더테크놀로지,380.0,보합0,0.00%,500.0,0.0,0.0,0.0,0.0,0.0,...,NaN,-30.51,31.17,1.49,-0.27,-47.83,-33.04,0.17,18.4,KOSDAQ
4126,CNH,109.0,보합0,0.00%,2500.0,0.0,0.0,0.0,0.0,0.0,...,NaN,9.69,-834.24,6.07,-0.04,-275.57,-30.95,-0.25,-112.2,KOSDAQ
4127,소프트센우,7300.0,하락 80,-1.08%,200.0,8.0,0.0,468.0,7370.0,7370.0,...,NaN,NaN,NaN,0.24,-243.33,NaN,NaN,14.47,NaN,KOSDAQ
4128,대호특수강우,2730.0,하락 30,-1.09%,2500.0,1340.0,4.0,3338.0,2735.0,2735.0,...,NaN,NaN,NaN,0.02,-4.47,NaN,NaN,1.28,NaN,KOSDAQ

In [27]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4129 entries, 0 to 4128
Data columns (total 33 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   종목명      4129 non-null   object
 1   현재가      4129 non-null   float64
 2   전일비      4129 non-null   object
 3   등락률      4129 non-null   object
 4   액면가      4129 non-null   float64
 5   거래량      4129 non-null   float64
 6   거래대금     4129 non-null   float64
 7   전일거래량    4129 non-null   float64
 8   시가       4129 non-null   float64
 9   고가       4129 non-null   float64
 10  저가       4129 non-null   float64
 11  매수호가     4129 non-null   float64
 12  매도호가     4129 non-null   float64
 13  매수총잔량    4129 non-null   float64
 14  매도총잔량    4129 non-null   float64
 15  상장주식수    4129 non-null   float64
 16  시가총액     4129 non-null   float64
 17  매출액      2554 non-null   float64
 18  자산총계     2637 non-null   float64
 19  부채총계     2637 non-null   float64
 20  영업이익     2637 non-null   float64
 21  당기순이익    2637 non-null   float64
 22  주당순이익    2749 non-null   float64
 23  보통주배당금   1663 non-null   float64
 24  매출액증가율   2486 non-null   float64
 25  영업이익증가율  2544 non-null   float64
 26  외국인비율    4129 non-null   float64
 27  PER      2747 non-null   float64
 28  ROE      2544 non-null   float64
 29  ROA      2544 non-null   float64
 30  PBR      2749 non-null   float64
 31  유보율      2637 non-null   float64
 32  소속       4129 non-null   object
dtypes: float64(29), object(4)
memory usage: 1.0+ MB

In [40]:
# PER(Price Earnings Ratio) : 주가수익비율
# 주당순이익(EPS) = 당기순이익 / 주식발행수 
# PER = 현재 주가 / 주당순이익
# 만약 PER이 10이다 -> 회사가치만큼 돈을 벌려면 10년 걸리겠구나       (PER : 작으면 작을수록 좋다)

# PBR이 1보다 작고, PER 7보다 작으면
df2 = stock[["종목명", "PER"]].dropna().sort_values("PER")
df2 = df2[(df2["PER"] > 0) & (df2["PER"] <= 7)]
df2

           종목명   PER
791     DH오토넥스  0.55
4015     씨엑스아이  0.76
3174  제이엔케이글로벌  1.00
3558    오션인더블유  1.02
1784      일정실업  1.02
...        ...   ...
405         LF  6.89
768       미원화학  6.90
3673       비비씨  6.91
236       현대위아  6.94
2855   탑런토탈솔루션  7.00

[350 rows x 2 columns]

In [41]:
# ROE (Return on Equity) : 자기자본이익률(%)
# ROE = 당기순이익 / 평균자기자본 * 100              (ROE : 크면 클수록 좋다)

df2 = stock[["종목명", "ROE"]].dropna().sort_values("ROE", ascending=False)
df2
# 1억을 투자했을때 2천만원정도 이익을 냈다

         종목명       ROE
837     효성화학  10663.68
3382      E8   2823.10
1541      한창    946.65
2786    현대사료    340.50
3922   선샤인푸드    286.29
...      ...       ...
3550    푸드나무   -364.32
3965   세종메디칼   -375.00
2721   푸른소나무   -417.81
3290  제일엠앤에스   -791.40
3229    심플랫폼  -1583.24

[2544 rows x 2 columns]

In [45]:
# PBR (Price to Book Ratio) : 주가순자산비율
# PBR 보통 1이어야 정상
# PBR > 1 원래 받아야하는 평가보다 더 높게 받고 있다
# PBR < 1 회사가 좀더 저렴하게 평가받고있다... 이런경우 추후에 1로 오를 것

df2 = stock[["종목명", "PBR"]].dropna()
df2 = df2[df2["PBR"] < 0.7]
df2
# 이런종목에 투자하기 좋다

         종목명   PBR
6        현대차  0.49
10        기아  0.69
13      신한지주  0.53
16     현대모비스  0.55
20      한국전력  0.60
...      ...   ...
4108    올리패스  0.65
4121   투비소프트  0.32
4124     아이엠  0.57
4125  더테크놀로지  0.17
4126     CNH -0.25

[982 rows x 2 columns]

In [48]:
# 고ROE + 저PBR 가성비 좋은 우량주
# ROE가 높으면서 PBR낮으면 저평가받고있으면서 수익률은 높다 = 투자가치 있다고 볼수있음
# PBR < 1

df2 = stock[["종목명", "ROE", 'PBR', "PER"]].dropna()
df2[(df2["ROE"] >= 15) & (df2["PBR"] < 1) & (df2["PER"] < 7)]

         종목명     ROE   PBR   PER
10        기아   19.09  0.69  4.17
23       HMM   15.35  0.72  4.47
62    DB손해보험   18.98  0.91  5.08
152     현대해상   15.75  0.52  3.50
205      에스엘   17.42  0.62  4.17
...      ...     ...   ...   ...
3674   백금T&A   19.95  0.64  3.50
3727     에코캡   20.43  0.38  2.15
3871   기산텔레콤   16.39  0.66  3.87
3922   선샤인푸드  286.29 -3.98 -3.19
3947    셀레믹스   56.97  0.98  2.36

[76 rows x 4 columns]